/*
	Basic CSS Stylesheet

	author: Philipp Fonteyn
*/
@charset "ISO-8859-1";

body {
	width: 100%;
	height: 100%;
	background: linear-gradient(#bababa, #f1f1f1);

	margin:				0px;
	padding:			0px;	

	font-family:		Verdana;	
	font-size:			10pt;
}

p {
	margin:				0px;
	padding:			0px;
}

div {
	margin:				0px;
	padding:			0px;
}

.hidden {
	display: 			none;
}

a {
	text-decoration:	none;
	color:				#555555;
}

.logon {
	color: #fff;
}

.logo {
	display: none;
}

/*
	Elements for the menu region
*/

.categorycontainer {
	position:			fixed;
	left:				10px;
	top:				65%;

	width:				285px;
	height:				10%;

	background-color:	#f5f5f5;

	color:				#888;

	box-shadow: 6px 6px 8px 6px #888888;
	border-radius: 		15px;
	/* border: 2px solid black;*/
}

.categorycontainer p {
	color: #555;
	padding-left: 5px;	
	padding-top: 5px;
}

.categorycontainer div {
	padding-left: 10px;
	/*border: 1px solid red;*/
}

.searchcontainer {
	position:			fixed;
	left:				10px;
	top:				80%;

	width:				285px;
	height:				10%;

	background-color:	#f5f5f5;
	border-radius: 		15px;

	color:				#888;

	box-shadow: 6px 6px 8px 6px #888888;
}

.searchcontainer p {
	color: #555;
	padding-left: 5px;	
	padding-top: 5px;
}

.searchcontainer form {
	padding-left: 10px;
}

.menucontainer {
	position: fixed;
	left: 10px;
	top: 65px;

	width: 285px;
	height: 40%;
	min-height: 300px;

	background-color:	#f5f5f5;

	border-radius: 15px;

	margin: 0px;
	padding: 0px;
	box-shadow: 6px 6px 8px 6px #888888;
}

.menucontainer p {
	color: #888;
	padding-left: 5px;	
	padding-top: 5px;
}

.menu ul {
	display: contents;
}

.menu li {
	display: contents;
}

.menu li div {
	/* border: 1px solid yellow; */
	padding-left: 10px;
	padding-top: 5px;
	height: 35px;
	position: relative;
}

@keyframes menuflash {
    from {background-color: #f5f5f5;}
    to {background-color: #c1c1c1;}
}

.menu li div:hover {
	/* border: 1px solid magenta; */
	animation: menuflash 1s 1;
	animation-fill-mode: forwards;
}

.menu li div a {
	/* border: 1px solid magenta; */
	max-width: 270px;	
	display: block;
}

.menu li div span {
	/* border: 1px solid red; */
	position: absolute;
	right: 0px;
	bottom: 0px;
 	font-size: 8pt;
 	font-style: italic;
 	color: #888;
}

.menu p {
	display: inline;
	font-size: 8pt;
 	font-style: italic;
}

.menu {
	/* border: 1px solid green; */
	overflow: scroll;
	display: block;
	max-height: 230px;
}

.pageinator {
	/* border: 1px solid red; */
	text-align: center;
}

.pageinator a {
	color: #888;
}

/*
	Elements for the content region
*/

.contentcontainer {
	position:			fixed;
	left:				315px;
	right:				25px;
	top:				55px;
	bottom:				50px;


	/*border-top-right-radius: 20px;*/
	border-radius: 		15px;
	padding:			15px;

	background-color:	#f5f5f5;

	/* h-inset v-inset blur spread */
	box-shadow: 6px 6px 8px 6px #888888;
}

.content {
	/* border: 1px solid green; */

	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;	
}

/*
	Elements for the header region
*/

.pagetitle {
	position: fixed;
	top: 5px;	

	color: #ffffff;
	font-weight:  bold;
	font-size: 18pt;
}

.header {
	position: fixed;
	left: 0px;
	top: 0px;
	
	width:				100%;
	height:				35px;

	background-color: #444;

	color: #ffffff;
	font-weight: bold;
	font-size: 18pt;

	/* h-inset v-inset blur spread */
	/* box-shadow: 6px 6px 8px 6px #888888; */
	border-bottom: 2px solid #000;
}

.header p {
	padding-left: 		10px;
	margin-top:		5px;	
}

/*
	Elements for the footer region
*/	
	
.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	
	width: 100%;
	height: 30px;

	border-top: 2px solid #000;
	background-color: #444;
}

#copy {
	position:			absolute;
	top:				25%;
	left:				90px;

	color:				#ffffff;
	font-weight:		bold;
	size:				10pt;
}

#imprint {
	position:			absolute;
	top:				25%;
	left:				20px;

	width:				65px;

	color:				#ffffff;
	font-weight:		bold;
	size:				10pt;

	border-width:		0px 2px 0px 0px;
	border-style:		solid;
	border-color:		#f0f0f0;
}